<app-banner></app-banner>

<div
  *ngIf="this.currentScreen === this.SCREEN.LOADING; else mainContent"
  class="display--flex justify--center items--center"
>
  <div class="spinner-border" style="width: 12rem; height: 12rem"></div>
</div>
<ng-template #mainContent>
  <div
    class="container text--center"
    *ngIf="globalVars.inTab || globalVars.webview || globalVars.redirectURI"
  >
    <div *ngIf="this.currentScreen === SCREEN.CREATE_ACCOUNT">
      <img
        src="assets/image-metamask.svg"
        width="140px"
        class="section--accounts__illustration"
      />
      <div class="margin-bottom--medium">
        <h4 class="text--neutral-white margin-bottom--base font-size--large">
          Tạo tài khoản bằng ví MetaMask của bạn
        </h4>
        <div
          class="box--border box--rounded box--large margin-bottom--large text--text-lighter"
        >
          <p>DeSo là một blockchain mới được xây dựng để hỗ trợ mạng xã hội web3.</p>
          <p class="margin-top--medium">
            Với DeSo, các khóa MetaMask kiểm soát nội dung của bạn giống như cách chúng
             kiểm soát tiền của bạn.
            <strong class="text--text-lightest"
              >Chìa khóa của bạn = nội dung của bạn.</strong
            >
          </p>
          <p class="margin-top--medium">
            When you click
            <strong class="text--text-lightest">"Connect"</strong> dưới bạn
            sẽ được yêu cầu ký giao dịch để tạo tài khoản trên DeSo
            chuỗi khối. Sử dụng DeSo không tốn phí gas ETH nên việc tạo
            tài khoản chỉ yêu cầu bằng chứng nhận dạng.
          </p>
          <div
            *ngIf="metamaskState === METAMASK.ERROR"
            class="margin-top--medium"
          >
            <div class="warning--error">
              {{ errorMessage }}
              <span
                *ngIf="showAlternative"
                class="text--blue-base cursor-pointer fs-underline-hover"
              >
                <a (click)="redirectToLogIn()" class="link--primary"
                  >Ngoài ra, bạn có thể đăng ký bằng các phương pháp khác.</a
                >
              </span>
            </div>
          </div>
        </div>
        <button
          class="button--primary button--medium display--flex items--center justify--center"
          (click)="launchMetamask()"
        >
          <img
            *ngIf="metamaskState !== METAMASK.CONNECT"
            src="assets/metamask.png"
            height="32px"
            width="32px"
            class="margin-right--small"
          />

          <div
            class="spinner-border margin-right--small"
            style="width: 25px; height: 25px"
            *ngIf="metamaskState === METAMASK.CONNECT"
          ></div>
          <span class="font-weight-bold"
            >Connect<span *ngIf="metamaskState === METAMASK.CONNECT"
              >ing</span
            ></span
          >
        </button>
      </div>

      <ng-container *ngIf="existingConnectedWallet">
        <div class="margin-top--large margin-bottom--medium">
          <p class="margin-bottom--medium">Tài khoản được phát hiện:</p>
          <code class="font-size--large">{{
            existingConnectedWallet | truncateAddressOrUsername
          }}</code>
        </div>
        <div class="margin-top--small">
          Nếu đây không phải là tài khoản bạn muốn kết nối, vui lòng mở MetaMask
           một lần nữa và chọn đúng tài khoản, sau đó nhấp vào kết nối.
        </div>
      </ng-container>
    </div>
    <div *ngIf="this.currentScreen === SCREEN.AUTHORIZE_MESSAGES">
      <span class="text--text-lightest">Ủy quyền khóa có nguồn gốc</span>
      <div class="margin-bottom--base">
        Yêu cầu metamask cho phép tạo tài khoản của bạn
      </div>
      <p>
        Sau khi ký tin nhắn này, tài khoản của bạn sẽ được tạo với đầy đủ
         quyền đăng bài, bình luận, mẹo và tin nhắn.
      </p>
    </div>
  </div>
</ng-template>
